* {
    background-image: url('nasa-Q1p7bh3SHj8-unsplash.jpg');
    display: inline-block;
    font-family: 'DynaPuff', cursive;
    color: whitesmoke;
}
.header{
    display: flex;
    justify-content: center;
    position:fixed;
    z-index: 1;
    font-size: 24px;
    width: 100%;
    gap: 12px;
    
}

p{
    font-size: 22px;
}
#tag_line{
    font-size: 28px;
}

#red{
    color: red;
}

#input{
    border-width: 2px;
    border-color: whitesmoke;

}

#github{
    font-size: 24px;
}

li{
    font-size: 20px;
}